h1 {
    text-align: center;
}

aside {
    padding-left: 15px;
}

input {
    width: 300px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

#search-el {
    align-self: flex-start;
}

.button-search {
    width: 300px;
    margin-top: 5px;
    text-transform: capitalize;
}

#previous-cities {

    width: 300px;
    margin-top: 5px;
    border-top: 2px solid black;
}

#city-display {
    align-items: center;
    margin: 0;
}

#uv {
    border-radius: 25px;
    padding: 5px;

}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}